.header{
    color: black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    height: 184px;
    column-gap: 50px;
    position: relative;
} 
.header__item{
  font-size: 16px;
  color: black;
  display: flex;
  gap: 32px;
  justify-content: center;
  padding-top: 40px; 
}
.header__logo{
  border: 3px solid black; 
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; 
  padding: 4px 8px;
  font-family: 'Raleway', sans-serif;
  height: 24px;
  top: 40px;
  left: 148px;
  position: absolute;
}
.circle__programmer{
  width: 110px;
  height: 110px;
  position: absolute;
}
.header__circle{
  border-radius: 10000px;
  background-color: #f1f1f1;
  width: 170px;
  align-items: center;
  height: 170px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 40px;
  right: 148px;
}
.title{
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: start;
  height: 472px;
  flex-direction: column;
}
.title__circle__little{
  display: flex;
  justify-content: center;
  border-radius: 10000px;
  background-color: #f1f1f1;
  width: 64px;
  height: 64px;
  position: absolute;
  align-items: center;
  top: 362px;
  left: 209px;
  
}
.title__circle__Little_message{
  width: 28px;
  height: 24px;
  position: absolute;  
}
.title__circle__middle{
  display: flex;
  justify-content: center;
  border-radius: 10000px;
  background-color: #f1f1f1;
  width: 100px;
  height: 100px;
  position: absolute;
  align-items: center;
  top: 410px;
  right: 169px;
}
.title__circle__middle_lighting{
  width: 40px;
  height: 40px;
  position: absolute;  
}
.title__topic{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  color: #181818;
  margin-left: auto;
  margin-right: auto;
}
.title__subtopic{
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}
.title__button__contact{
  border: 2px solid black; 
  border-radius: 8px;
  color: #f1f1f1;
  background-color: #000000;
  padding: 15px 24px 17px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
}
.title__button__video{
  border: 2px solid black; 
  border-radius: 8px;
  color: #000000;
  background-color: #ffffff;
  padding: 15px 24px 17px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
} 
.title__button{
  padding-top: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 16px;
}
.project{
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}
.project__filter{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 40px;
  gap: 17px;
}
.button{
  cursor: pointer;
}
.project__filter_type_all{
  border: 2px solid black; 
  border-radius: 10000px;
  color: #000000;
  background-color: #ffffff;
  padding: 4px 16px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;  
}
.project__filter_type_site{
  border: 2px solid black; 
  border-radius: 10000px;
  color: #000000;
  background-color: #ffffff;
  padding: 4px 16px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;  
}
.project__filter_type_develop{
  border: 2px solid black; 
  border-radius: 10000px;
  color: #000000;
  background-color: #ffffff;
  padding: 4px 16px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;  
}
.project__filter_type_design{
  border: 2px solid black; 
  border-radius: 10000px;
  color: #000000;
  background-color: #ffffff;
  padding: 4px 16px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;  
}
.active{
  border: 2px solid black; 
  border-radius: 10000px;
  color: #ffffff;
  background-color: #000000;
  padding: 4px 16px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;  
}
.project__content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__content__container{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.project__1{
  max-width: 100%;
  height: 460px;
  border-radius: 20px;
 align-items: center;
}
.project__4{
  max-width: 100%;
  height: 544px;
  border-radius: 20px;
  align-items: center;
}
.project__2{
  max-width: 100%;
  height: 400px;
  border-radius: 20px;
}
.project__3{
  max-width: 100%;
  height: 400px;
  border-radius: 20px;
}
.project__5{
  max-width: 100%;
  height: 460px;
  border-radius: 20px;
}
.project__6{
  max-width: 100%;
  height: 460px;
  border-radius: 20px;
}


.project__photo_inline_1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
  align-items: center;
  height: auto;
}
.project__photo_inline_2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding-top: 40px;
  gap: 40px;
  text-align: center; 
  /* width: 200px; */
  align-items: center;
  
}

.block_about-me{
  flex-direction: row;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  display: flex;
  gap: 40px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 20%;
  padding-left: 20%;
  position: relative;
}
.block_about-me__text{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.block_about-me__photo_me{
  max-width: 100%;
  width: 400px;
  height: 560px;
  border-radius: 50px;
  border: #ffffff;
}
.block_about-me__profession{
  font-family: 'Raleway', sans-serif; 
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  padding-bottom: 24px;
  padding-top: 80px;
}


.block_about-me_info{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.block_about-me__circle_middle_goblet{
  width: 40px;
  height: 40px;
  position: absolute; 
}
.block_about-me__circle_middle{
  display: flex;
  justify-content: center;
  border-radius: 10000px;
  background-color: #f1f1f1;
  width: 100px;
  height: 100px;
  position: absolute;
  align-items: center;
  top: 570px;
  left: 520px;
  display: none;
}
.block_about-me_inline{
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 64px;
}
.block_about-me__block{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 16px;
}
.block_about-me__numbers{
  width: 41px;
  height: 24px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.block_about-me__descriptionsOfNumbers{
  width: 87px;
  height: 48px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.services{
  background-color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__header{
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  padding-top: 120px;
  padding-bottom: 80px;
}
.textcols_inline{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 28px;
}
.textcols{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 2px solid black; 
  border-radius: 8px;
  color: #000000;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  width: 368px;
  height: 384px;
  margin-bottom: 70px;

}
.textcols__item{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #181818;
  text-align: left;
  padding-left: 40px;
  padding-top: 40px;
}
.textcols__item__name{
  padding-left: 40px;
  padding-top: 8px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #181818;
}
.textcols__item__name__info{
  padding-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #181818;
  padding-top: 16px;
 
}
.textcols__item__name__info_price{
  width: 288px;
  height: 24px;
  padding-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  line-height: 24px;
  color: #181818;
  padding-top: 56px;
}

.textcols__overline{
  margin-top: 56px;
  margin-left: 40px;
  width: 80px;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #181818;  
}
.calculating{
  height: 1128px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.calculating__header{

  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  padding-top: 120px;
  color: #181818;
  letter-spacing: -0.02em;
  margin-bottom: 80px;

}
.calculating__circle__middle{
  display: flex;
  justify-content: center;
  border-radius: 10000px;
  background-color: #f1f1f1;
  width: 100px;
  height: 100px;
  position: absolute;
  align-items: center;
  top: 500px;
  left: 15%; 
}
.circle__middle_time{
  width: 30px;
  height: 30px;
  position: absolute;   
}
.calculating__circle__big{
  border-radius: 10000px;
  background-color: #f1f1f1;
  width: 170px;
  align-items: center;
  height: 170px;
  position: absolute;
  display: flex;
  justify-content: center;

  top: 300px;
  right: 8%;
}
.calculating__projectOrder{
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
}
.calculating__projectOrder_type{
  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 24px;

}
.calculating__projectOrder_type_text{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 24px;
}
.calculating__projectOrder_type_img{
  width: 8px;
  height: 4px;

}
.calculating__projectOrder_deal{

  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 12px 16px 12px 0;
  margin-bottom: 40px;
 
}
.calculating__projectOrder_deal_img{
  width: 16px;
  height: 16px;
}
.calculating__projectOrder_deal_text{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.calculating__projectOrder_calculate{
  border: 3px solid #000000;
  background-color: #ffffff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  border-radius: 8px;
  padding: 4px 16px;
  font-weight: 600;
  padding: 15px 112.5px;

}
.calculating__projectCheck{
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 0px 0px 16px 16px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 40px 24px;

}
.calculating__projectCheck_button{
  border: 2px solid black; 
  border-radius: 8px;
  color: #f1f1f1;
  background: #000000;
  padding: 15px 108.5px 17px 108.5px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
}
.calculating__projectCheck__header{

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 64px;
}
.calculating__projectCheck__Summ{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}
.calculating__projectCheck__number{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;

}
.answer{
  background-color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.accordion{
  background-color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px; 
}
.content{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #181818;
  text-align: left;
  border-radius: 8px;
  background: #ffffff;
  transition: 0.3s;
  margin-top: 10px;
}
.label{
  position: relative;
}

.contentBx {
  margin: 10px 20px;
  min-width: 70%;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
  text-align: left;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
} 
.label::after {
  content: "\271A";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
  color: #000000;
}
.label--open::after{
  content: "\2716";
}

.answer__header{
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  padding-top: 50px;
  padding-bottom: 80px;
  letter-spacing: -0.02em;
}

.order{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  position: relative;
}
.order__topic{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #181818;
}
.order__text{
  margin-top: 8px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}
.order__form{
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  margin-top: 80px;
  gap: 24px;
}
.order__form__field{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__form__field__text{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}
.order__form__field__img{
  width: 8px;
  height: 4px;
}
.order__form__field2{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  padding: 12px 16px;
  display: flex;
  width: 400px;
  height: 160px;
}
.order__form__button{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #181818;
  border-color: #181818;
  border-radius: 8px;
  margin-top: 16px;
  padding: 15px 111px 17px 111px;
}
.order__lighting{
  width: 100px;
  height: 100px;
  background-color: #F1F1F1;
  border-radius: 10000px;
  top: 100px;
  left: 15%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__lighting_img {
  width: 40px;
  height: 40px;
}
.order__message{
  width: 140px;
  height: 140px;
  background-color: #F1F1F1;
  border-radius: 10000px;
  top: 400px;
  left: 20%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__message__img {
  width: 56px;
  height: 56px;
}
.order__face{
  width: 170px;
  height: 170px;
  background-color: #F1F1F1;
  border-radius: 10000px;
  top: 200px;
  left: 75%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__face__img {
  width: 110px;
  height: 110px;
}
.hide{
  display: none;
}
@media (max-width: 1374px){
  .header__circle{
    height: 100px;
    width: 100px;
  }
  .circle__programmer{
    height: 65px;
    width: 65px;
  }
  .title__circle__little{
    width: 20px;
    height: 20px;
    left: 50px;
  }
  .title__circle__Little_message{
    width: 14px;
    height: 12px;
    position: absolute;  
  }
  .title__circle__middle{
    width: 35px;
    height: 35px;
    top: 410px;
    right: 169px;
  }
  .title__circle__middle_lighting{
    width: 28px;
    height: 28px;
    position: absolute;  
  }
  .textcols_inline{
    flex-direction: column;
  }
  .order__lighting{
    display: none;
  }
  .order__message{
    display: none;
  }
  .order__face{
    display: none;
  }

}
@media (max-width: 993px){
  .header__circle{
    display: none;
  }
  .circle__programmer{
    display: none;
  }
  .header__logo{
    display: none;
  }
  .title__circle__middle_lighting{
    width: 28px;
    height: 28px;
    position: absolute;  
  }
  .title__topic{
    height: 128px;
    font-size: 50px;
    line-height: 50px;

  }
  .title__subtopic{
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;

  }
  .project__photo_inline_1{
    flex-direction: column;
  }
  .project__photo_inline_2{
    flex-direction: column;
  }
  .block_about-me__circle_middle_goblet{
    display: none;
  }
  .block_about-me__circle_middle{
    display: none;
  }
  .circle__middle_time{
    display: none;
  }
  .calculating__circle__middle{
    display: none;
  }
  .calculating__circle__big{
    display: none;
  }
 
  .order__lighting{
    display: none;
  }
  .order__message{
    display: none;
  }
}
@media (max-width: 720px){
  .order__face{
    display: none;
  }
  .header__logo{
  display: none;
  }
  .title__circle__little{
    width: 16px;
    height: 16px;
    left: 30px;
  }
  .title__circle__Little_message{
    width: 14px;
    height: 12px;
    position: absolute;  
  }
  .title__circle__middle{
    width: 35px;
    height: 35px;
    top: 410px;
    right: 70px;
  }
  .title__circle__middle_lighting{
    width: 28px;
    height: 28px;
  }
  .title__topic{
    font-size: 42px;
    line-height: 50px;
  }
  .block_about-me{
    flex-direction: column;
    align-items:center;
  }
  .block_about-me__profession{
    order: 1;
  }
  .block_about-me__photo_me{
    order: 2;
  }
  .block_about-me_info{
    order: 3;
  }
  .block_about-me_inline{
    order: 4;
  }
}
@media (max-width: 670px){
  .header__logo{
    display: none;
  }
  .title__circle__little{
    display: none;
  }
  .title__circle__Little_message{
    display: none;
  }
  .title__circle__middle{
    display: none;
  }
  .title__circle__middle_lighting{
    display: none; 
  }
}
@media (max-width: 540px){
  .header__logo{
    display: none;
  }
  .title__topic{
    font-size: 30px;
  }
  .title__circle__little{
    display: none;
  }
  .title__circle__Little_message{
    display: none;
  }
  .title__circle__middle{
    display: none;
  }
  .title__circle__middle_lighting{
    display: none;
  }
  .block_about-me_info{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 400px;
    height: 168px;
  }
  .block_about-me__profession{
    font-weight: 600;
    font-size: 38px;
    line-height: 64px;
    padding-bottom: 24px;
    padding-top: 80px;

  }
  .block_about-me__numbers{
    width: 41px;
    height: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
  .block_about-me__descriptionsOfNumbers{
    width: 87px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
  }
  .order__form{
    padding: 5px;
  }
  .order__form__field{
    max-width: 220px;
  }
  .order__form__field2{
    max-width: 220px;
  }
  .order__form__button{
    max-width: 220px;
  }
}
@media (max-width: 498px){
  .order__topic{
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;

  }
  .order__form__field{
   padding: 6px 8px;

  }
  .order__form{
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 80px;
    gap: 24px;
  }
  .order__form__field2{
    border-radius: 16px;
    padding: 6px 8px;
    width: 400px;
    height: 160px;
  }
  
}
@media (max-width: 435px){
  .order__form__field{
  max-width: 100%;
  }
  .calculating__header{
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    padding-top: 120px;
    margin-bottom: 80px;
  
  }
  .label::after {
    content: "\271A";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 15px;
    color: #000000;
  }
  .label--open::after{
    content: "\2716";
    right: 10px;
  }
   
}
@media (max-width: 409px){
  .header__item{
    font-size: 16px;
    gap: 10px;
    justify-content: center;
    padding-top: 40px; 
    align-items:center;
    padding-left: 5px;
  }

  .textcols{
    width: 250px;
  }
  .textcols__item{
    padding-left: 20px;
    font-size: 10px;
  }
  .textcols__item__name{
    font-size: 15px;
    padding-left: 20px;
  }
  .textcols__item__name__info{
    font-size: 15px;
    padding-left: 20px;
  }
  .textcols__overline{
    margin-top: 20px;
    margin-left: 20px;
  }
  .textcols__item__name__info_price{
    padding-top: 30px;
    padding-left: 20px;
  }
  .answer__header{
    font-size: 30px; 
  }
  .order__text{
    font-size: 15px;
  }
  .calculating__projectOrder{
    width: 280px;
  }
  .calculating__projectCheck__header{
    font-size: 25px;
  }
  .block_about-me__profession{
    font-size: 23px;
  }
  .block_about-me_info{
    font-size: 15px;
    width: 280px;
    line-height: 15px;
    align-self: center;
  }
  .block_about-me_inline{
    gap: 15px;
  }
  .title__topic{
    font-size: 20px; 
  }
  .title__button__contact{
    line-height: 18px;
    padding: 10px 19px 12px;
  }
  .title__button__video{
    line-height: 18px;
    padding: 10px 19px 12px;
  }
  .project__button{
    gap: 5px; 
  }
  .project__button_black{
    padding: 1px 4px;  
    border-radius: 50px;
  }
  .project__button_white{
    padding: 1px 4px;  
    border-radius: 50px;
  }
  .order__form__button{
    padding: 15px 50px 17px 50px;
  }
  .project__filter{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 5px;
  }
  .title__button{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 16px;
  }
  .title__button__video{
    padding: 10px 19px 12px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}
  .title__button__contact{
    padding: 10px 19px 12px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
  }
  .project__1{
    height: auto;
    max-width: 60%;
  }
  .project__2{
    height: auto;
    max-width: 60%;
  }
  .project__3{
    height: auto;
    max-width: 60%;
  }
  .project__4{
    height: auto;
    max-width: 60%;
  }
  .project__5{
    height: auto;
    max-width: 60%;
  }
  .project__6{
    height: auto;
    max-width: 60%;
  }
  .project__photo_inline_1{
    height: auto;
  }
  .block_about-me__photo_me{
    max-width: 80%;
    width: 400px;
    height: auto;
    border-radius: 50px;
    border: #ffffff;
  }
}